<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Debug-only: lets adb drive TtsHelper with UTF-8 text (adb cannot type Malayalam). -->
        <receiver
            android:name="com.chmod777.itantra.DebugTtsReceiver"
            android:exported="true" />
    </application>

</manifest>
